* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: #333;
    color: white;
}

.navegacion {
    background-color: black;
    position: fixed;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.imagen {
    width: 85%;
    border-radius: 5%;
}

.miembros {
    height: 75vh;
}

/*RERSPONSIVE*/

/*Dispositivos XL*/
@media screen and (max-width: 1335px) {
    .imagen {
        width: 65%;
        border-radius: 5%;
    }
}

/*Dispositivos L*/
@media screen and (max-width: 992px) {
    .videoUno {
        width: 720px;
    }

    .videoDos {
        width: 720px;
    }

    .videoTres {
        width: 720px;
    }

    .miembros {
        height: 100%;
    }
}

/*Dispositivos M*/ 
@media screen and (max-width: 768px) {
    .videoUno {
        width: 520px;
    }
    .videoDos {
        width: 520px;
    }
    .videoTres {
        width: 520px;
    }
}

/*Dispositivos S*/
@media screen and (max-width: 550px) {
    .videoUno {
        width: 480px;
    }
    .videoDos {
        width: 480px;
    }
    .videoTres {
        width: 480px;
    }
}